.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 10px;
}

.cardLink {
    margin-left: auto;
}

.cardSubtitle {
    padding-left: 20px;
}

.cardStatus {
    font-weight: 400;
}